footer {
    background-color: #2196F3;
}

.blog {
    padding: 5%;
}

.blog-link {
    margin-bottom: 10px;
}

.blog-link a {
    color: white;
}

.site {
    padding: 5%;
}

.site-link {
    margin-bottom: 5px;
}

.site-link a {
    color: white;
}

.copyright {
    background-color: #1C78C2;
    color: white;
    text-align: center;
    padding: 2%;
}